<!DOCTYPE html>
<html class="edit">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PNS: {{if .Edit}}Edit note #{{.ID}}{{else if .Copy}}Adding copy of note #{{.ID}}{{else}}Add note{{end}}</title>
<link type="text/css" rel="stylesheet" href="/_/static/normalize.css" />
<link type="text/css" rel="stylesheet" href="/_/static/milligram.css" />
<link type="text/css" rel="stylesheet" href="/_/static/style.css">
<link rel="stylesheet" href="/_/static/awesomplete.css" />
<link rel="icon" href="/_/static/favicon.png" />
<script src="/_/static/awesomplete.js"></script>
<script src="/_/static/pns.js" async></script>
<script>
lang = {{tr "lang-code"}};
connErrMsg = {{tr "Connection error."}};

function setup() {
	newAwesomplete(null);
}
</script>
</head>

<body onload="setup();" onkeydown="return editKeyDown(event);">
<form class="edit" enctype="multipart/form-data" action="{{if .Edit}}/_/api/edit/submit/{{.ID}}{{else}}/_/api/add/submit{{end}}" method="post" id="form">

<div class="top-menu">

<div class="float-left input-with-margin">
<input type="text" name="tag" id="tag" placeholder='{{tr "Topics and tags"}}' class="taginput"
       data-list="{{.TopicsAndTagsComma}}" data-multiple autofocus value="{{.NoteTopicsAndTags}}"></input>
</div>

<div class="float-right with-margin">

<input class="button button-clear" type="button" value='{{tr "?"}}' onclick="getPreview('Help')"></input>

<input class="button button-clear" type="button" value='{{tr "Preview"}}' onclick="getPreview('Preview')"></input>

{{if .Edit}}
<input class="button button-clear" type="button" value='{{tr "Diff"}}' onclick="getPreview('Diff')"></input>
{{end}}

<input class="button button-clear" type="submit" value='{{tr "edit|Submit"}}' onclick="return editSubmit();"></input>

</div>

</div>

<input type="hidden" name="action" id="action" value="Preview">
{{if .Edit}}<input type="hidden" name="sha1sum" value="{{.SHA1Sum}}">{{end}}

<div class="container edit">
<textarea class="note" name="text" id="text">{{.Text}}</textarea>
<div id="error" class="hidden"><div class="error messages"><p id="error-msg"></p></div></div>
<div id="preview">{{.Preview}}</div>
<div id="login"></div>
</div>

</form>
</body>
</html>
