<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PNS: {{if .Edit}}Edit note #{{.ID}}{{else}}Add note{{end}}</title>
<link type="text/css" rel="stylesheet" href="/_/static/style.css">
<link type="text/css" rel="stylesheet" href="/_/static/edit.css">
<link rel="stylesheet" href="/_/static/awesomplete.css" />
<link rel="icon" href="/_/static/favicon.png" />
<script src="/_/static/awesomplete.js"></script>
<script src="/_/static/pns.js" async></script>
</head>

<body>
<form action="{{if .Edit}}/_/edit/submit/{{.ID}}{{else}}/_/add/submit{{end}}" method="post" id="form">

<div class="topbar">
<div class="topbar-left">
<div class="awesomplete">
<input type="text" name="tag" placeholder="Topics and tags" class="taginput"
       data-list="{{.TopicsAndTagsComma}}" data-multiple autofocus value="{{.NoteTopicsAndTags}}"></input>
</div>
</div>
<div class="topbar-inner">
<div class="topbar-right">
<ul class="tagbar">
<li><input type="submit" name="action" value="Preview" class="button" onclick="setTargetPreview()"></input></li>
<li><input type="submit" name="action" value="Submit" class="button" onclick="setTargetDocument()"></input></li>
</ul>
</div>
</div>
</div>

<div class="content">
<textarea name="text">{{.Text}}</textarea>
<iframe name="preview" src="{{if .Edit}}/_/edit/preview/{{.ID}}{{end}}"></iframe>
</div>

</form>
</body>
</html>
