<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{{$activeTagsURLs := .ActiveTagsURLs}}
<title>PNS{{with $activeTagsURLs}}:{{range .}} {{.Name}}{{end}}{{end}}</title>
<link type="text/css" rel="stylesheet" href="/_/static/style.css">
<link rel="stylesheet" href="/_/static/semantic.css" />
<link rel="stylesheet" href="/_/static/awesomplete.css" />
<link rel="icon" href="/_/static/favicon.png" />
<script src="/_/static/awesomplete.js"></script>
<script src="/_/static/pns.js" async></script>
<script>
noteIDs = {{.IDs}};
noteMap = {};
for (var i = 0; i < noteIDs.length; i++) {
	noteMap["note" + noteIDs[i]] = i;
}

allTags = {{.AllTags}};
activeTags = {{.ActiveTags}};
availableTags = {{.AvailableTags}};

function setup() {
	newAwesomplete(getLayoutCompletions);
}
</script>
</head>

<body class="body" onload="setup();" onkeydown="return noteKeyDown(event);">

<div class="ui top fixed menu">

{{range $activeTagsURLs}}
<a class="tagbar item" href="{{.URL}}">{{.Name}}</a>
{{end}}

{{if .Count}}<span class="item">({{.Count}})</span>{{end}}
{{if gt .Start 0}}<a class="item" href="{{.PrevPage}}">&lt;</a>{{end}}
{{if .More}}<a class="item" href="{{.NextPage}}">&gt;</a>{{end}}

<div class="right menu">

<div class="item ui transparent input">
<form action="{{.URL}}" class="inline">
<input placeholder='{{tr "Search..."}}' name="tag" id="tag" type="text" data-multiple autofocus></input>
</form>
</div>

<a class="item ui transparent input">
<form action="/_/add" class="inline">
<input type="submit" value='{{tr "Add note"}}'></input>
</form>
</a>

<a class="item ui transparent input">
<form action="/_/logout{{.URL}}" class="inline">
<input type="submit" value='{{tr "Logout"}}'></input>
</form>
</a>

</div>

</div>

<div class="content">

{{$Edit := tr "Edit"}}
{{$Copy := tr "Copy"}}

{{range $n := .Notes}}
<a id="{{.ID}}" class="anchor"></a>
<div class="note" id="note{{.ID}}" tabindex="-1" >
{{$.Render .}}

{{if (not .NoFooter)}}
<div class="note-footer">

{{range .Topics}}
<a href="{{$.TagURL .}}" class="tag">{{.}}</a> ·
{{end}}

{{range .Tags}}
<a href="{{$.TagURL .}}" class="tag">{{.}}</a> ·
{{end}}

<span class="tag">
{{.Modified.Format "2006-01-02 15:04:05 -0700"}}
</span> ·

<span class="tag">
<a href="/_/edit/{{.ID}}" class="tag">{{$Edit}}</a>
</span> ·

<span class="tag">
<a href="#{{.ID}}" class="tag">#</a>
</span> ·

<span class="tag">
<a href="/_/copy/{{.ID}}" class="tag">{{$Copy}}</a>
</span>

</div>
{{end}}

</div>
{{end}}

</div>
</body>
</html>
