<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="/_/static/style.css">
</head>

<body>

<div class="topbar">
<ul>
{{with .Topic}}<li><a href="{{.URL}}">{{.Name}}</a></li>{{end}}
{{range .Tags}}
<li><a href="{{$.DelTagURL .}}">{{.}}</a></li>
{{end}}
</ul>
<div class="buttons">
<input type="submit" name="action" value="Add note" class="button" tabindex="2"></input>
<form action="/_/logout{{.URL}}" class="inline">
<input type="submit" value="Logout" class="button" tabindex="3"></input>
</form>
</div>
<form action="{{.URL}}">
<input type="text" name="tag" class="taginput" placeholder="Add tag" list="taglist" autofocus tabindex="1"></input>
</form>
<datalist id="taglist">
{{range .AvailableTags}}
<option>{{.}}</option>
{{end}}
</datalist>
</div>

<div class="content">

{{range $n := .Notes}}
<a id="{{.ID}}" class="anchor"></a>
<div class="note">
{{$.Render .Text}}

{{if (not .NoFooter)}}
<div class="note-footer">

{{range .Topics}}
<a href="{{$.TagURL .}}" class="tag">{{.}}</a> ·
{{end}}

{{range .Tags}}
<a href="{{$.TagURL .}}" class="tag">{{.}}</a> ·
{{end}}

<span class="tag">
{{.Modified.Format "2006-01-02 15:04:05 -0700"}}
</span> ·

<span class="tag">
<a href="/_/edit/{{.ID}}" class="tag">Edit</a>
</span> ·

<span class="tag">
<a href="#{{.ID}}" class="tag">#</a>
</span>

</div>
{{end}}

</div>
{{end}}

</div>
</body>
</html>
