<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PNS{{if (or .Topic .Tags)}}:{{end}}{{with .Topic}} {{.Name}}{{end}}{{range .Tags}} {{.}}{{end}}</title>
<link type="text/css" rel="stylesheet" href="/_/static/style.css">
<link rel="stylesheet" href="/_/static/awesomplete.css" />
<link rel="icon" href="/_/static/favicon.png" />
<script src="/_/static/awesomplete.js"></script>
<script src="/_/static/pns.js" async></script>
<script>
noteIDs = {{.IDs}};
noteMap = {};
for (var i = 0; i < noteIDs.length; i++) {
	noteMap["note" + noteIDs[i]] = i;
}

allTags = {{.AllTags}};
activeTags = {{.ActiveTags}};
availableTags = {{.AvailableTags}};

function setup() {
	newAwesomplete(getLayoutCompletions);
}
</script>
</head>

<body onload="setup();" onkeydown="return noteKeyDown(event);">

<div class="topbar">
<div class="topbar-left">
<ul class="tagbar">
{{with .Topic}}<li><a href="{{.URL}}">{{.Name}}</a></li>{{end}}
{{range .Tags}}
<li><a href="{{$.DelTagURL .}}">{{.}}</a></li>
{{end}}
{{with .Count}}<li><span class="topbar-count">({{.}})</span></li>{{end}}
</ul>
</div>
<div class="topbar-right">
<ul class="tagbar">
<li>
<form action="{{.URL}}" class="inline">
<div class="awesomplete">
<input type="text" name="tag" id="tag" placeholder="Add tag(s)" class="taginput"
       data-multiple autofocus></input>
</div>
</form>
</li>
<li>
<form action="/_/add" class="inline">
<input type="submit" value="Add note" class="button"></input>
</form>
</li>
<li>
<form action="/_/logout{{.URL}}" class="inline">
<input type="submit" value="Logout" class="button"></input>
</form>
</li>
</ul>
</div>
</div>

<div class="content">

{{range $n := .Notes}}
<a id="{{.ID}}" class="anchor"></a>
<div class="note" id="note{{.ID}}" tabindex="-1" >
{{$.Render .}}

{{if (not .NoFooter)}}
<div class="note-footer">

{{range .Topics}}
<a href="{{$.TagURL .}}" class="tag">{{.}}</a> ·
{{end}}

{{range .Tags}}
<a href="{{$.TagURL .}}" class="tag">{{.}}</a> ·
{{end}}

<span class="tag">
{{.Modified.Format "2006-01-02 15:04:05 -0700"}}
</span> ·

<span class="tag">
<a href="/_/edit/{{.ID}}" class="tag">Edit</a>
</span> ·

<span class="tag">
<a href="#{{.ID}}" class="tag">#</a>
</span>

</div>
{{end}}

</div>
{{end}}

</div>
</body>
</html>
