<!DOCTYPE html>
<html class="login">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PNS: Login</title>
<link type="text/css" rel="stylesheet" href="/_/static/style.css">
<link rel="stylesheet" href="/_/static/semantic.css" />
<link rel="icon" href="/_/static/favicon.png" />
</head>

<body class="body">

<div class="ui borderless top fixed menu">
<span class="topbar-message">
{{htmlTr "Note to login you need to have <a href=\"https://en.wikipedia.org/wiki/HTTP_cookie\">cookies</a> enabled."}}
</span>
</div>

<form action="/_/login" method="post">
<div class="login">

<div class="ui form {{if .Message}}top attached fluid {{end}}segment">

<div class="field">
<label for="login">{{tr "Login"}}</label>
<input class="ui input" type="text" name="login" autofocus>
</div>

<div class="field">
<label for="password">{{tr "Password"}}</label>
<input class="ui input" type="password" name="password">
</div>

<input type="hidden" name="redirect" value="{{.Redirect}}">
<button class="ui blue submit button" type="submit" value="Submit">{{tr "login|Submit"}}</button>

</div>

{{with .Message}}
<div class="ui bottom attached error message"><p>{{.}}</p></div>
{{end}}

</div>
</form>

</body>
</html>
