html, body, form, .content {
    height: 100%;
}

.topbar-inner {
    margin-left: 100px; /* hack: align buttons with textarea and iframe */
}

input.taginput {
    width: 40em;
}

textarea {
    width: 100%;
    height: 50%;
    padding: 5px;
    margin: 5px 0 5px 0;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
}

iframe {
    width: 100%;
    height: 90%;
    border: solid 1px #e0e0e0;
    padding: 5px;
    margin: 5px 0 15px 0;
}
